Repository SELab-2/OSOC-2, pull requests merged in 2022-04, with the labels that each got.

#407 fix: no longer self-host github actions
  .github/dependabot.yml
  .github/workflows/backendCI.yml
  .github/workflows/eslint.yml
  .github/workflows/frontendCI.yml
Labels: high priority, fix

#406 fix: unify first name and last name in a single field
  backend/request.ts
  backend/routes/user.ts
  backend/tests/request.test.ts
  frontend/components/Footer/Footer.module.css
  frontend/pages/login/index.tsx
Labels: fix, frontend

#411 Fixed mock-ups link
  docs/Domain Model/README.md
  docs/Mock Ups/README.md
  docs/conventions.md
Labels: documentation, fix

#417 GitHub routes documentation
  backend/routes/github.ts
Labels: documentation, backend

#410 Session key overhaul (backend side)
  backend/orm_functions/session_key.ts
  backend/routes/admin.ts
  backend/routes/coach.ts
  backend/routes/followup.ts
  backend/routes/project.ts
  backend/routes/role.ts
  backend/routes/student.ts
  backend/routes/template.ts
  backend/routes/user.ts
  backend/tests/orm_integration/session_key.test.ts
  backend/tests/orm_unit/session_key.test.ts
  backend/tests/utility.test.ts
  backend/types.ts
  backend/utility.ts
  frontend/components/User/User.tsx
  frontend/components/UserFilter/UserFilter.tsx
  frontend/pages/students.tsx
Labels: feat, high priority, fix, backend

#408 Update api json
  backend/config.json
  backend/request.ts
  backend/routes/admin.ts
  backend/routes/coach.ts
  backend/routes/followup.ts
  backend/routes/project.ts
  backend/routes/reset.ts
  backend/routes/student.ts
  backend/routes/user.ts
  backend/routes/verify.ts
  backend/tests/request.test.ts
  docs/API/api.json
Labels: documentation, fix

#418 fix: the linter upon commit is not correct
  .lintstagedrc.js
  package-lock.json
  package.json
Labels: CI/CD, fix

#262 WebSockets
  backend/index.ts
  backend/package-lock.json
  backend/package.json
  backend/routes/admin.ts
  backend/routes/coach.ts
  backend/routes/form.ts
  backend/types.ts
  backend/websocket_events/login_user.ts
  docs/deploymentGuide.md
  frontend/components/StudentCard/StudentCard.tsx
  frontend/components/User/User.tsx
  frontend/components/UserFilter/UserFilter.tsx
  frontend/contexts/sessionProvider.tsx
  frontend/contexts/socketProvider.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/login/index.tsx
  frontend/pages/students.tsx
  frontend/pages/users.tsx
  frontend/types.ts
  testforms/newUser.json
Labels: feat, frontend, backend

#435 fix: remove senderId from /student/<id>/suggest
  backend/request.ts
  backend/tests/request.test.ts
  backend/types.ts
  docs/API/api.json
Labels: fix, backend

#438 IO-emit remove
  backend/index.ts
  backend/routes/form.ts
  backend/types.ts
  frontend/pages/students.tsx
  frontend/types.ts
Labels: fix

#371 Student filters
  backend/docs/modules/orm_functions_applied_role.html
  backend/docs/modules/orm_functions_job_application.html
  backend/docs/modules/orm_functions_project_role.html
  backend/docs/modules/orm_functions_role.html
  backend/orm_functions/applied_role.ts
  backend/orm_functions/evaluation.ts
  backend/orm_functions/student.ts
  backend/request.ts
  backend/routes/student.ts
  backend/tests/orm_integration/applied_role.test.ts
  database/startupScripts/generate_data.sql
  frontend/components/Filter/Filter.module.css
  frontend/components/Filter/StudentFilter/StudentFilter.tsx
  frontend/components/Filter/UserFilter/UserFilter.tsx
  frontend/pages/login/index.tsx
  frontend/pages/students.tsx
  frontend/pages/users.tsx
  frontend/public/images/exclamation_mark.png
  frontend/public/images/exclamation_mark_color.png
  frontend/public/images/green_check_mark.png
  frontend/public/images/green_check_mark_color.png
  frontend/types.ts
Labels: feat, fix

#451 Project filter route
  backend/orm_functions/project.ts
  backend/request.ts
  backend/routes/project.ts
  backend/types.ts
  database/startupScripts/generate_data.sql
Labels: bug, fix, backend

#466 fix: redirect for password reset works again
  backend/request.ts
  frontend/contexts/sessionProvider.tsx
  frontend/pages/reset/[pid].tsx
Labels: fix

#469 buttons should be invisible when not signed in
  frontend/components/Header/Header.tsx
  frontend/contexts/sessionProvider.tsx
Labels: fix

#416 Add osoc edition page
  backend/endpoints.ts
  backend/orm_functions/orm_types.ts
  backend/orm_functions/osoc.ts
  backend/request.ts
  backend/routes/osoc.ts
  backend/tests/orm_integration/applied_role.test.ts
  backend/types.ts
  docs/API/api.json
  frontend/components/Filter/Filter.module.css
  frontend/components/Filter/OsocFilter/OsocFilter.tsx
  frontend/components/Filter/UserFilter/UserFilter.tsx
  frontend/components/Header/Header.module.css
  frontend/components/Header/Header.tsx
  frontend/components/Osoc/Osoc.module.css
  frontend/components/Osoc/Osoc.tsx
  frontend/contexts/sessionProvider.tsx
  frontend/pages/osocs.tsx
  frontend/types.ts
Labels: feat, frontend

#452 Pending redirect
  backend/routes/user.ts
  docs/API/api.json
  frontend/contexts/sessionProvider.tsx
  frontend/pages/login/index.tsx
  frontend/pages/pending.tsx
Labels: fix, frontend, backend

#471 fix: the header links now only show when the user has been verified
  frontend/components/Header/Header.tsx
  frontend/contexts/sessionProvider.tsx
Labels: fix, frontend

#472 fix: redirect away from users when no admin
  frontend/pages/users.tsx
Labels: frontend

#330 Routes: unit tests
  backend/package-lock.json
  backend/package.json
  backend/request.ts
  backend/routes/admin.ts
  backend/routes/coach.ts
  backend/routes/followup.ts
  backend/routes/form.ts
  backend/routes/github.ts
  backend/routes/user.ts
  backend/tests/mocking/mocks.ts
  backend/tests/orm_integration/contract.test.ts
  backend/tests/orm_unit/contract.test.ts
  backend/tests/routes_unit/admin.test.ts
  backend/tests/routes_unit/coach.test.ts
  backend/tests/routes_unit/followup.test.ts
  backend/tests/routes_unit/form.test.ts
  backend/tests/routes_unit/github.test.ts
  backend/tests/utility.test.ts
  backend/types.ts
  backend/utility.ts
  frontend/components/User/User.tsx
Labels: tests, backend

#474 feat: remove expired reset links #463
  database/startupScripts/create_db.sql
Labels: feat

#482 fix: student email filter
  backend/request.ts
Labels: bug, backend

#484 Update form
  backend/orm_functions/job_application_skill.ts
  backend/routes/form.ts
  backend/tests/orm_integration/job_application_skill.test.ts
  backend/tests/orm_unit/job_application_skill.test.ts
Labels: fix, backend

#480 Immutable admin [BE]
  backend/config.json
  backend/routes/admin.ts
  backend/routes/coach.ts
  backend/routes/user.ts
  backend/tests/routes_unit/admin.test.ts
  backend/tests/routes_unit/coach.test.ts
  backend/tests/utility.test.ts
  backend/utility.ts
  database/startupScripts/generate_data.sql
Labels: bug, high priority, backend

#393 User settings
  backend/orm_functions/orm_types.ts
  backend/orm_functions/project.ts
  backend/package.json
  backend/request.ts
  backend/routes/admin.ts
  backend/routes/coach.ts
  backend/routes/user.ts
  backend/tests/orm_integration/osoc.test.ts
  backend/types.ts
  frontend/components/Filter/OsocFilter/OsocFilter.tsx
  frontend/components/Filter/StudentFilter/StudentFilter.tsx
  frontend/components/Filter/UserFilter/UserFilter.tsx
  frontend/components/Header/Header.tsx
  frontend/components/Settings/Settings.tsx
  frontend/contexts/sessionProvider.tsx
  frontend/pages/index.tsx
  frontend/pages/login/index.tsx
  frontend/pages/pending.tsx
  frontend/pages/settings.tsx
  frontend/pages/students.tsx
  frontend/pages/users.tsx
  frontend/types.ts
Labels: feat, frontend

#487 fix: create student suggestion return type
  backend/routes/student.ts
  backend/types.ts
Labels: fix, backend

#486 Domain model
  docs/Domain Model/Domeinmodel_version12.drawio
  docs/Domain Model/Domeinmodel_version12.png
  docs/Domain Model/Domeinmodel_version13.drawio
  docs/Domain Model/Domeinmodel_version13.drawio.png
Labels: documentation

#489 fix: exported functions in backend
  backend/routes/form.ts
  backend/routes/login.ts
  backend/routes/osoc.ts
  backend/routes/project.ts
  backend/routes/reset.ts
  backend/routes/role.ts
  backend/routes/student.ts
  backend/routes/template.ts
  backend/routes/user.ts
  backend/routes/verify.ts
Labels: fix, backend

#481 User manual update
  docs/README.md
  docs/User Manual.pdf
  docs/user_manual.md
Labels: documentation, high priority

#512 Fix user student clash
  backend/routes/form.ts
  backend/routes/user.ts
Labels: bug, fix, backend

#475 fix: tests routes
  backend/request.ts
  backend/routes/login.ts
  backend/routes/osoc.ts
  backend/routes/user.ts
  backend/tests/orm_integration/evaluation.test.ts
  backend/tests/orm_unit/evaluation.test.ts
  backend/tests/request.test.ts
  backend/tests/routes_unit/github.test.ts
  backend/tests/routes_unit/login.test.ts
  backend/tests/routes_unit/osoc.test.ts
  backend/tests/utility.test.ts
  backend/tests/utility_unmocked.test.ts
  backend/types.ts
  docs/API/api.json
Labels: tests, backend
