Repository SELab-2/OSOC-2, pull requests merged in 2022-05, with the labels that each got.

#518 fix type issues
  backend/routes/student.ts
  backend/types.ts
  frontend/types.ts
Labels: fix, frontend, backend

#520 Fix ormtests project
  backend/orm_functions/orm_types.ts
  backend/orm_functions/project.ts
  backend/tests/orm_integration/project.test.ts
  backend/tests/orm_unit/project.test.ts
Labels: fix, frontend, backend

#521 2nd password input field user settings
  frontend/components/Settings/Settings.tsx
Labels: feat, frontend, security

#538 Fix project roles
  backend/request.ts
  backend/routes/project.ts
  backend/tests/request.test.ts
  backend/types.ts
  docs/API/api.json
Labels: fix, backend

#539 Fix student evaluations
  backend/routes/student.ts
  docs/API/api.json
Labels: fix, backend

#514 feat: use salts and encryption in backend to better store passwords
  backend/config.json
  backend/package-lock.json
  backend/package.json
  backend/prisma/schema.prisma
  backend/routes/login.ts
  backend/routes/reset.ts
  backend/routes/user.ts
  backend/tests/routes_unit/login.test.ts
  database/startupScripts/create_db.sql
  database/startupScripts/generate_data.sql
  frontend/components/Settings/Settings.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/login/index.tsx
  frontend/pages/reset/[pid].tsx
Labels: feat, fix

#414 feat: wipe student & login user from db
  backend/orm_functions/evaluation.ts
  backend/orm_functions/login_user.ts
  backend/orm_functions/student.ts
  backend/prisma/schema.prisma
  backend/routes/admin.ts
  backend/routes/coach.ts
  backend/routes/project.ts
  backend/routes/student.ts
  backend/routes/user.ts
  backend/tests/orm_integration/contract.test.ts
  backend/tests/orm_integration/job_application.test.ts
  backend/tests/routes_unit/admin.test.ts
  backend/tests/routes_unit/coach.test.ts
  backend/types.ts
  backend/utility.ts
  database/startupScripts/create_db.sql
  frontend/components/User/User.tsx
Labels: feat, database

#540 Full BE test for routes in login.ts
  .eslintrc.json
  backend/index.ts
  backend/jest.config.js
  backend/package-lock.json
  backend/package.json
  backend/request.ts
  backend/routes/github.ts
  backend/server.ts
  backend/tests/database_setup.ts
  backend/tests/integration_setup.ts
  backend/tests/jest_sequencer.js
  backend/tests/mocking/mocks.ts
  backend/tests/orm_integration/applied_role.test.ts
  backend/tests/orm_integration/attachment.test.ts
  backend/tests/orm_integration/contract.test.ts
  backend/tests/orm_integration/evaluation.test.ts
  backend/tests/orm_integration/integration_setup.ts
  backend/tests/orm_integration/job_application.test.ts
  backend/tests/orm_integration/job_application_skill.test.ts
  backend/tests/orm_integration/language.test.ts
  backend/tests/orm_integration/login_user.test.ts
  backend/tests/orm_integration/osoc.test.ts
  backend/tests/orm_integration/password_reset.test.ts
  backend/tests/orm_integration/person.test.ts
  backend/tests/orm_integration/project.test.ts
  backend/tests/orm_integration/project_role.test.ts
  backend/tests/orm_integration/role.test.ts
  backend/tests/orm_integration/session_key.test.ts
  backend/tests/orm_integration/student.test.ts
  backend/tests/orm_unit/project.test.ts
  backend/tests/request.test.ts
  backend/tests/routes_integration/integr.ts
  backend/tests/routes_integration/login.test.ts
  backend/tests/utility.test.ts
  backend/utility.ts
Labels: tests, backend

#546 Error in `POST /user/self`
  backend/routes/user.ts
Labels: fix, backend, Need to have

#556 GitHub additional data
  backend/routes/github.ts
  backend/tests/routes_unit/github.test.ts
  backend/types.ts
Labels: feat, backend, Need to have

#566 fix: try to use the old timer for jest
  backend/tests/tests-setup.ts
Labels: tests, fix

#523 fix: finish and polish the students page
  backend/orm_functions/job_application.ts
  backend/orm_functions/student.ts
  backend/request.ts
  backend/routes/form.ts
  backend/routes/student.ts
  backend/tests/orm_integration/job_application.test.ts
  backend/tests/request.test.ts
  backend/types.ts
  docs/API/api.json
  frontend/components/Filter/StudentFilter/StudentFilter.tsx
  frontend/components/Header/Header.module.css
  frontend/components/StudentCard/StudentCard.module.scss
  frontend/components/StudentCard/StudentCard.tsx
  frontend/components/StudentOverview/StudentOverview.module.scss
  frontend/components/StudentOverview/StudentOverview.tsx
  frontend/pages/students/index.tsx
  frontend/styles/students.module.scss
  frontend/types.ts
Labels: feat, frontend

#568 Fix student type
  backend/orm_functions/job_application.ts
  backend/routes/role.ts
  backend/routes/student.ts
  backend/types.ts
  frontend/components/Filter/StudentFilter/StudentFilter.tsx
  frontend/components/StudentOverview/StudentOverview.tsx
  frontend/components/Students/Students.module.scss
  frontend/components/Students/Students.tsx
  frontend/pages/projects.tsx
  frontend/pages/students/index.tsx
  frontend/styles/projects.module.scss
  frontend/types.ts
Labels: fix, backend

#551 Websockets users
  backend/tests/mocking/mocks.ts
  backend/types.ts
  backend/websocket_events/login_user.ts
  frontend/components/Filter/UserFilter/UserFilter.tsx
  frontend/components/Header/Header.tsx
  frontend/components/User/User.tsx
  frontend/contexts/sessionProvider.tsx
  frontend/pages/login/[pid].tsx
  frontend/pages/login/index.tsx
  frontend/pages/pending.tsx
  frontend/types.ts
Labels: feat

#557 Orm tests
  backend/orm_functions/osoc.ts
  backend/tests/orm_unit/login_user.test.ts
  backend/tests/orm_unit/osoc.test.ts
  backend/tests/orm_unit/person.test.ts
  backend/tests/orm_unit/project_role.test.ts
  backend/tests/orm_unit/project_user.test.ts
  backend/tests/orm_unit/session_key.test.ts
  backend/tests/orm_unit/student.test.ts
  backend/tests/orm_unit/template.test.ts
Labels: tests

#573 projects dev merge
  backend/orm_functions/contract.ts
  backend/orm_functions/job_application.ts
  backend/request.ts
  backend/routes/project.ts
  backend/routes/role.ts
  backend/routes/student.ts
  backend/tests/request.test.ts
  backend/types.ts
  docs/API/api.json
  frontend/components/Filter/StudentFilter/StudentFilter.tsx
  frontend/components/ProjectCard/ProjectCard.module.css
  frontend/components/ProjectCard/ProjectCard.tsx
  frontend/components/StudentOverview/StudentOverview.tsx
  frontend/components/Students/Students.module.scss
  frontend/components/Students/Students.tsx
  frontend/pages/projects.tsx
  frontend/pages/students/index.tsx
  frontend/styles/projects.module.scss
  frontend/types.ts
Labels: feat, frontend, Need to have

#582 Template unit tests
  backend/routes/template.ts
  backend/tests/routes_unit/template.test.ts
Labels: tests, backend

#574 fix: backend firstname and lastname becomes name
  backend/orm_functions/job_application.ts
  backend/orm_functions/login_user.ts
  backend/orm_functions/orm_types.ts
  backend/orm_functions/person.ts
  backend/orm_functions/student.ts
  backend/prisma/schema.prisma
  backend/request.ts
  backend/routes/admin.ts
  backend/routes/coach.ts
  backend/routes/form.ts
  backend/routes/github.ts
  backend/routes/student.ts
  backend/routes/user.ts
  backend/tests/database_setup.ts
  backend/tests/orm_integration/job_application.test.ts
  backend/tests/orm_integration/login_user.test.ts
  backend/tests/orm_integration/person.test.ts
  backend/tests/orm_unit/login_user.test.ts
  backend/tests/orm_unit/person.test.ts
  backend/tests/orm_unit/student.test.ts
  backend/tests/request.test.ts
  backend/tests/routes_integration/login.test.ts
  backend/tests/routes_unit/admin.test.ts
  backend/tests/routes_unit/coach.test.ts
  backend/tests/routes_unit/github.test.ts
  backend/tests/utility.test.ts
  backend/types.ts
  database/startupScripts/create_db.sql
  database/startupScripts/generate_data.sql
  frontend/components/Filter/StudentFilter/StudentFilter.tsx
  frontend/components/Settings/Settings.tsx
  frontend/components/StudentCard/StudentCard.tsx
  frontend/components/StudentOverview/StudentOverview.tsx
  frontend/components/User/User.tsx
  frontend/pages/settings.tsx
  frontend/types.ts
Labels: frontend, backend

#585 fix: register works again
  backend/request.ts
  frontend/pages/login/index.tsx
  package-lock.json
Labels: frontend

#558 Fix osoc-filter bug
  backend/request.ts
  backend/tests/request.test.ts
  backend/tests/routes_unit/github.test.ts
Labels: fix, backend, Need to have

#544 Front end testing
  .eslintrc.json
  .github/workflows/backendCI.yml
  .github/workflows/frontendCI.yml
  frontend/__tests__/OsocFilter.test.tsx
  frontend/__tests__/SettingsComponent.test.tsx
  frontend/__tests__/StudentFilter.test.tsx
  frontend/__tests__/UserComponent.test.tsx
  frontend/__tests__/login.test.tsx
  frontend/__tests__/studentOverview.test.tsx
  frontend/__tests__/userFilter.test.tsx
  frontend/components/Filter/OsocFilter/OsocFilter.tsx
  frontend/components/Filter/StudentFilter/StudentFilter.tsx
  frontend/components/Filter/UserFilter/UserFilter.tsx
  frontend/components/Settings/Settings.tsx
  frontend/components/StudentOverview/StudentOverview.tsx
  frontend/components/User/User.tsx
  frontend/globals.d.ts
  frontend/jest.config.js
  frontend/jest.env.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/login/index.tsx
Labels: tests, frontend

#599 Project route fixes
  backend/orm_functions/contract.ts
  backend/orm_functions/orm_types.ts
  backend/orm_functions/project.ts
  backend/orm_functions/project_user.ts
  backend/request.ts
  backend/routes/project.ts
  backend/tests/request.test.ts
  backend/types.ts
Labels: feat, backend

#602 Osoc Paging
  backend/orm_functions/osoc.ts
  backend/request.ts
  backend/routes/osoc.ts
  backend/tests/orm_unit/osoc.test.ts
  backend/tests/request.test.ts
  backend/tests/routes_unit/osoc.test.ts
  backend/types.ts
  backend/utility.ts
Labels: feat, backend, database

#606 fix: try to fix the action by changing indentation
  .github/workflows/backendCI.yml
Labels: bug

#603 Unit tests for /user/
  backend/routes/user.ts
  backend/tests/request.test.ts
  backend/tests/routes_unit/user.test.ts
Labels: tests, backend

#567 Project improvements [BE]
  backend/orm_functions/orm_types.ts
  backend/orm_functions/project.ts
  backend/prisma/schema.prisma
  backend/routes/project.ts
  backend/tests/database_setup.ts
  backend/tests/orm_integration/project.test.ts
  backend/tests/orm_unit/osoc.test.ts
  backend/tests/orm_unit/project.test.ts
  backend/tools/curly.sh
  backend/tools/dbdump.sh
  backend/types.ts
  database/startupScripts/create_db.sql
  database/startupScripts/generate_data.sql
Labels: feat, fix, backend

#618 Unit tests for /reset/
  backend/package-lock.json
  backend/package.json
  backend/routes/reset.ts
  backend/tests/routes_unit/reset.test.ts
Labels: tests, backend

#617 fix: types of a login user in the frontend
  backend/routes/user.ts
  backend/tests/routes_unit/user.test.ts
  backend/types.ts
  frontend/__tests__/SettingsComponent.test.tsx
  frontend/__tests__/UserComponent.test.tsx
  frontend/components/Settings/Settings.tsx
  frontend/components/StudentOverview/StudentOverview.tsx
  frontend/components/User/User.tsx
  frontend/pages/settings.tsx
  frontend/types.ts
Labels: bug, fix, frontend, backend

#607 feat(frontend): in app notifications
  frontend/components/Notification/Notification.module.scss
  frontend/components/Notification/Notification.tsx
  frontend/contexts/notificationProvider.module.scss
  frontend/contexts/notificationProvider.tsx
  frontend/pages/_app.tsx
  frontend/pages/login/index.tsx
  frontend/styles/globals.scss
  frontend/types.ts
Labels: feat, frontend

#622 fix: student type
  backend/routes/project.ts
  backend/types.ts
Labels: fix, backend

#604 feat: create general remove person function and write tests
  backend/orm_functions/login_user.ts
  backend/orm_functions/person.ts
  backend/orm_functions/student.ts
  backend/tests/orm_unit/login_user.test.ts
  backend/tests/orm_unit/person.test.ts
  backend/tests/orm_unit/student.test.ts
Labels: fix

#586 Frontend paging
  backend/routes/coach.ts
  backend/tests/routes_unit/coach.test.ts
  frontend/__tests__/OsocFilter.test.tsx
  frontend/__tests__/StudentFilter.test.tsx
  frontend/__tests__/UserComponent.test.tsx
  frontend/__tests__/userFilter.test.tsx
  frontend/components/Filter/Filter.module.css
  frontend/components/Filter/OsocFilter/OsocFilter.tsx
  frontend/components/Filter/StudentFilter/StudentFilter.tsx
  frontend/components/Filter/UserFilter/UserFilter.tsx
  frontend/components/Osoc/Osoc.tsx
  frontend/components/Paginator/Paginator.tsx
  frontend/components/Students/Students.module.scss
  frontend/components/Students/Students.tsx
  frontend/components/User/User.tsx
  frontend/contexts/sessionProvider.tsx
  frontend/pages/osocs.tsx
  frontend/pages/users.tsx
  frontend/styles/globals.scss
  frontend/styles/index.module.scss
  frontend/styles/users.module.css
  frontend/types.ts
Labels: feat, frontend, Need to have

#625 fix: scroll state is remembered in the manage user screen
  frontend/pages/users.tsx
Labels: frontend

#626 fix: increased padding-block for the header
  frontend/components/Header/Header.module.css
Labels: fix, frontend

#639 chore: remove some unused deps
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Labels: dependencies

#640 feat: url for students
  frontend/components/Students/Students.tsx
Labels: fix, frontend

#587 Student route unit tests
  backend/request.ts
  backend/routes/student.ts
  backend/tests/request.test.ts
  backend/tests/routes_unit/student.test.ts
  backend/types.ts
Labels: tests, backend, Need to have

#643 Fix request tests
  backend/request.ts
  backend/tests/request.test.ts
  backend/tests/routes_unit/form/parse_form_request.test.ts
Labels: tests, fix, backend

#644 fix: osoc orm test
  backend/tests/orm_unit/osoc.test.ts
Labels: tests

#646 fix: project orm tests
  backend/tests/orm_unit/project.test.ts
Labels: tests

#657 fix: files are removed
  backend/tests/database_setup.ts
  backend/tests/integration_setup.ts
  backend/tests/mocking/mocks.ts
  backend/tests/routes_integration/integr.ts
Labels: tests, backend

#658 test: new test for orm project_user
  backend/tests/orm_unit/project_user.test.ts
Labels: tests

#641 Project routes fixes
  backend/orm_functions/orm_types.ts
  backend/orm_functions/project.ts
  backend/orm_functions/project_user.ts
  backend/request.ts
  backend/routes/project.ts
  backend/tests/orm_integration/project.test.ts
  backend/tests/orm_unit/project.test.ts
  backend/tests/orm_unit/project_user.test.ts
  backend/tests/request.test.ts
  backend/types.ts
Labels: high priority, fix, backend, Need to have

#642 Change student status
  backend/prisma/schema.prisma
  backend/routes/form.ts
  backend/tests/database_setup.ts
  backend/tests/orm_integration/job_application.test.ts
  backend/tests/orm_unit/job_application.test.ts
  backend/tests/orm_unit/osoc.test.ts
  backend/tests/orm_unit/person.test.ts
  backend/tests/request.test.ts
  backend/tests/routes_unit/followup.test.ts
  backend/tests/routes_unit/form/add_job_application_to_database_files/add_job_application_to_database.test.ts
  backend/tests/routes_unit/form/create_form_files/create_form.test.ts
  backend/tests/routes_unit/student.test.ts
  backend/types.ts
  database/startupScripts/create_db.sql
  database/startupScripts/generate_data.sql
  frontend/__tests__/StudentFilter.test.tsx
  frontend/components/Filter/StudentFilter/StudentFilter.tsx
  frontend/components/Students/Students.tsx
  frontend/types.ts
Labels: feat, backend

#667 Add login_user_id to GET /coach/all
  backend/routes/coach.ts
  backend/tests/routes_unit/coach.test.ts
  backend/types.ts
Labels: feat, high priority, backend, Need to have

#630 Unit tests for /project/ routes
  backend/orm_functions/project.ts
  backend/request.ts
  backend/routes/project.ts
  backend/tests/request.test.ts
  backend/tests/routes_unit/project.test.ts
  backend/types.ts
Labels: tests, backend

#668 frontend variable page size
  backend/request.ts
  backend/tests/request.test.ts
  frontend/__tests__/OsocFilter.test.tsx
  frontend/__tests__/StudentFilter.test.tsx
  frontend/__tests__/userFilter.test.tsx
  frontend/components/Paginator/Paginator.tsx
  frontend/components/Students/Students.tsx
  frontend/pages/osocs.tsx
  frontend/pages/users.tsx
  frontend/types.ts
Labels: fix, frontend

#670 merge fix
  frontend/components/Filters/StudentFilter.tsx
  frontend/components/User/User.tsx
Labels: bug

#671 Project filter
  backend/orm_functions/project.ts
  backend/routes/project.ts
  backend/routes/role.ts
  frontend/components/Filters/ProjectFilter.tsx
  frontend/components/Projects/Projects.tsx
  frontend/types.ts
Labels: frontend, backend

#675 Project filter fixes
  backend/docs/assets/main.js
  backend/orm_functions/project.ts
  backend/request.ts
  backend/routes/project.ts
  backend/server.ts
  backend/tests/orm_integration/project.test.ts
  backend/tests/orm_unit/project.test.ts
  backend/tests/request.test.ts
  backend/tests/routes_unit/project.test.ts
  backend/types.ts
  backend/websocket_events/project.ts
  frontend/components/Filters/ProjectFilter.tsx
  frontend/components/Filters/StudentFilter.tsx
  frontend/components/Projects/Projects.tsx
  frontend/components/Students/Students.tsx
  frontend/components/User/User.tsx
  frontend/contexts/notificationProvider.tsx
  frontend/pages/projects/[pid]/change.tsx
  frontend/pages/projects/create.tsx
  frontend/pages/students/[pid].tsx
  frontend/types.ts
Labels: feat

#678 Fix project tests
  backend/routes/project.ts
  backend/tests/routes_unit/project.test.ts
Labels: tests

#677 feat(frontend): drag and drop students onto projects
  backend/routes/project.ts
  backend/tests/routes_unit/project.test.ts
  frontend/components/Filters/Filter.module.css
  frontend/components/Filters/ProjectFilter.tsx
  frontend/components/Notification/Notification.module.scss
  frontend/components/ProjectCard/ProjectCard.module.css
  frontend/components/ProjectCard/ProjectCard.tsx
  frontend/components/Projects/Projects.tsx
  frontend/components/StudentCard/StudentCard.module.scss
  frontend/components/StudentCard/StudentCard.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/types.ts
Labels: feat, frontend

#683 feat: basic socket events for osoc editions
  backend/server.ts
  backend/types.ts
  backend/websocket_events/osoc.ts
  frontend/components/Filters/OsocFilter.tsx
  frontend/components/Osoc/Osoc.tsx
  frontend/pages/osocs.tsx
  frontend/pages/users.tsx
  frontend/types.ts
Labels: feat

#686 fix: fixed z-index issues with notifs
  frontend/components/Notification/Notification.module.scss
  frontend/components/ScrollView.module.scss
  frontend/contexts/notificationProvider.tsx
  frontend/pages/_app.tsx
Labels: frontend

#685 fix: update the final decision icon in the studentcard
  frontend/components/StudentOverview/StudentOverview.module.scss
  frontend/components/StudentOverview/StudentOverview.tsx
Labels: fix, frontend

#687 fix: assign student bug
  backend/routes/project.ts
  backend/tests/routes_unit/project.test.ts
Labels: bug, fix, backend

#688 fix: utility test
  backend/tests/utility.test.ts
Labels: tests

#676 Fixing big project issues
  backend/orm_functions/project.ts
  backend/prisma/schema.prisma
  backend/routes/project.ts
  backend/tests/routes_unit/project.test.ts
  backend/types.ts
  database/startupScripts/create_db.sql
  docs/API/api.json
  frontend/components/Paginator/Paginator.tsx
  frontend/components/ProjectCard/ProjectCard.module.css
  frontend/components/ProjectCard/ProjectCard.tsx
  frontend/pages/projects/[pid]/change.tsx
  frontend/pages/projects/create.tsx
  frontend/types.ts
Labels: fix, frontend, Need to have

#691 Follow up implementation
  backend/routes/followup.ts
  backend/tests/routes_unit/followup.test.ts
  frontend/components/StudentOverview/StudentOverview.module.scss
  frontend/components/StudentOverview/StudentOverview.tsx
Labels: feat

#690 feat: delete student
  backend/orm_functions/person.ts
  backend/routes/student.ts
  backend/tests/orm_unit/project.test.ts
  backend/tests/routes_unit/student.test.ts
  backend/types.ts
  backend/websocket_events/student.ts
  frontend/components/Notification/Notification.module.scss
  frontend/components/ProjectCard/ProjectCard.tsx
  frontend/components/Projects/Projects.tsx
  frontend/components/Settings/Settings.tsx
  frontend/components/StudentCard/StudentCard.tsx
  frontend/components/StudentOverview/StudentOverview.module.scss
  frontend/components/StudentOverview/StudentOverview.tsx
  frontend/components/Students/Students.tsx
  frontend/components/User/User.tsx
  frontend/contexts/notificationProvider.tsx
  frontend/defaultLoginUser.ts
  frontend/defaultUser.ts
  frontend/pages/login/index.tsx
  frontend/pages/students/[pid].tsx
  frontend/types.ts
Labels: fix, frontend

#697 Startup clean
  backend/config.json
  backend/orm_functions/project_role.ts
  backend/routes/project.ts
  backend/tests/request.test.ts
  database/startupScripts/generate_data.sql
  docker-compose.yml
  frontend/components/Projects/Projects.tsx
  frontend/components/Students/Students.tsx
  frontend/pages/reset/[pid].tsx
Labels: fix

#696 fix student selection
  frontend/components/Students/Students.tsx
Labels: fix, frontend

#698 No final decision filter
  backend/orm_functions/student.ts
  backend/types.ts
  frontend/components/Filters/StudentFilter.tsx
  frontend/public/images/close_icon.png
  frontend/public/images/close_icon_red.png
  frontend/types.ts
Labels: feat, frontend, backend

#699 feat: websockets for users is now complete
  backend/config.json
  backend/routes/project.ts
  backend/tests/routes_unit/project.test.ts
  backend/types.ts
  backend/websocket_events/osoc.ts
  frontend/components/Filters/OsocFilter.tsx
  frontend/components/Paginator/Paginator.tsx
  frontend/components/ProjectCard/ProjectCard.tsx
  frontend/components/Projects/Projects.tsx
  frontend/components/Students/Students.tsx
  frontend/components/User/User.tsx
  frontend/package-lock.json
  frontend/pages/login/index.tsx
  frontend/pages/osocs.tsx
  frontend/pages/users.tsx
  frontend/types.ts
Labels: feat

#702 Updated user manual
  docs/User Manual.pdf
Labels: documentation

#703 fix: remove logs and double / error
  backend/routes/followup.ts
  backend/tests/routes_unit/followup.test.ts
  backend/utility.ts
  frontend/components/Header/Header.tsx
  frontend/components/ProjectCard/ProjectCard.tsx
  frontend/components/Students/Students.tsx
  frontend/pages/osocs.tsx
Labels: fix

#704 FINAL merge 🤞
  backend/config.json
  backend/orm_functions/project_role.ts
  backend/orm_functions/student.ts
  backend/routes/followup.ts
  backend/routes/project.ts
  backend/tests/request.test.ts
  backend/tests/routes_unit/followup.test.ts
  backend/tests/routes_unit/project.test.ts
  backend/types.ts
  backend/utility.ts
  backend/websocket_events/osoc.ts
  database/startupScripts/generate_data.sql
  docker-compose.yml
  docs/User Manual.pdf
  frontend/__tests__/createProject.test.tsx
  frontend/__tests__/project.test.tsx
  frontend/components/Filters/OsocFilter.tsx
  frontend/components/Filters/ProjectFilter.tsx
  frontend/components/Filters/StudentFilter.tsx
  frontend/components/Header/Header.tsx
  frontend/components/Paginator/Paginator.tsx
  frontend/components/ProjectCard/ProjectCard.tsx
  frontend/components/Projects/Projects.tsx
  frontend/components/ScrollView.module.scss
  frontend/components/Students/Students.tsx
  frontend/components/User/User.tsx
  frontend/contexts/notificationProvider.module.scss
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/login/index.tsx
  frontend/pages/osocs.tsx
  frontend/pages/projects/create.tsx
  frontend/pages/reset/[pid].tsx
  frontend/pages/users.tsx
  frontend/public/images/close_icon.png
  frontend/public/images/close_icon_red.png
  frontend/types.ts
Labels: fix
